<div layout="row">
    <div>
        <div id="canvas"></div>
        <md-button class="md-primary" ng-click="event('draw', $event)">Draw (OFF)</md-button>
        <md-button ng-click="event('sphere.add')">add sphere</md-button>
        <md-button ng-click="event('sphere.remove')">remove sphere</md-button>
        <md-button ng-click="event('light.add')">add light</md-button>
        <md-button ng-click="event('light.remove')">remove light</md-button>
    </div>
    <div style="min-width: 300px">
        <d7-selection.light ng-if="selection.type === 'light'" selection="selection.object"></d7-selection.light>
    </div>
</div>